

.header {
  background-color: #0065bd;
}

// customer requested a footer in this style
.footer {
  background-color: #0065bd;
  height: 57px;
  padding: 15px;
  background-image: url(../images/govscot-linear.png);
  background-repeat: no-repeat;
  background-position: 0.5em 0.5em;
  color: white;
  a { color: white; text-decoration: underline; }
  a:hover { color: #ddd; }
}

// quick hack to put the logo in the right place
.logo {
  margin-top: -12px;
}
