

.head {
  background-color: #0065bd;
  color: white;
}

// customer requested a footer in this style
.foot {
  background-color: #0065bd;
  height: 57px;
  > div {
    padding: 15px;
    background-image: url(../images/govscot-linear.png);
    background-repeat: no-repeat;
    background-position: 0.5em 0.5em;
    color: white;
    a { color: white; text-decoration: underline; }
    a:hover { color: #ddd; }

  }
}

// quick hack to put the logo in the right place
// .logo {
//   margin-top: -12px;
// }

.logo-text {
  font-size: 60px
}
.logo-strap {
  font-size: 12px;
  margin-left: 0.5em;
}
