
// always have a scroll bar to avoid layout jumps
body { overflow-y: scroll; }

.spaced {
  padding-bottom: 1.5em;
  &.slightly {
    padding-bottom: 0.5em;
  }
  &.lots {
    padding-bottom: 2em;
  }
}

.map {
  height: 600px;
  z-index: 0; // so modal appears above (and the map is not in front of anything anyway)
}
