
// always have a scroll bar to avoid layout jumps
// html { overflow-y: scroll; }

body {
  font-family: 'Lato', sans-serif;
  min-height: 100px;
  padding-top: 70px;
}

h1 {
  color: #555;
  font-weight: 900;
}


.map {
  height: 600px;
  z-index: 0; // so modal appears above (and the map is not in front of anything anyway)
}

// .map-product-border {
//   fill-opacity: 0.1;
//   color: red;
//   border-color: red;
// }

// icons inside buttons need a bit of right padding
.btn-glyphicon {
  padding-right: 5px;
}
.link-glypicon {
  padding-left: 5px;
}

.foot {
  margin-top: 2em;
  background-color: #dee0e2;
  border-top: 1px solid #a1acb2;
  text-align: center;
  color: #555;
}

.collection {
  display: flex;
  width: 100%;
  background-color: #ddd;
  border-radius: 4px;
  padding: 5px 2px;
  margin-bottom: 4px;
  .collection-left {
    flex: 0;
    padding: 0 4px;
    > div {
      display: flex;
      align-items: center;
      height: 100%;
      > div {
        flex:1;
      }
    }
  }
  .collection-main {
    flex: 1;
    min-width: 0; // overflow
    overflow: hidden;
    text-overflow: ellipsis;
    //white-space: nowrap;
    .collection-main-title {
      font-size: 130%;
    }
    .collection-main-more-info {
      margin-left: 0.5em;
    }
    .collection-main-visualise {
      padding: 4px 0;
    }
  }
  .collection-right {
    flex: 0;
    padding: 4px 4px;
    white-space: nowrap;
    text-align: right;
    > div {
      display: flex;
      align-items: center;
      height: 100%;
      > div {
        flex:1;
      }
    }
    .collection-right-download-type {
      color: #888;
    }
  }
}

.form {
  margin-bottom: 30px;
  .form-control {
    width: 140px;
  }
  > div {
    padding-right: 1.5em;
    > label {
      padding-right: 0.5em;
    }
  }
}

.item {
  display: flex;
  width: 100%;
  //justify-content: space-between;
  background-color: #ddd;
  border-radius: 4px;
  .item-hilite {
    flex: 0 0 6px; // give it some width
    border-radius: 4px;
    &.item-hilite-hovered {
      background-color: #555;
    }
  }
  .item-main {
    flex: 1;
    min-width: 0; // overflow
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 4px 0 4px;
    padding-left: 2px;
    .item-main-title {
      font-size: 130%;
    }
    .item-main-property-label {
      color: #888;
      padding-right: 0.3em;
    }
    .item-main-property-value {
      padding-right: 0.8em;
    }
  }
  .item-right {
    flex: 0;
    padding: 4px 4px;
    white-space: nowrap;
    text-align: right;
    > div {
      display: flex;
      align-items: center;
      height: 100%;
      > div {
        flex:1;
      }
    }
    .item-right-download-type {
      color: #888;
    }
  }

  margin-bottom: 4px;
}

.summary {
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 100%;
  padding: 10px 15px;
  >div {

    >span {
      padding-right: 20px;
      .summary-count {
        font-size: 400%;
      }
    }
  }
}
